# Data directories
data/
old_outputs/
filtered_samples/

# Large data files
*.gct
*.tsv
*.csv
*.xls
*.xlsx
*.txt
*.html
*.pdf

# R scripts
*.rds
*.RData
outputsValidationPlots/
nbs/*.csv
nbs/*.png
nbs/*.pdf
notebooks/*.csv
notebooks/*.png
notebooks/*.pdf
notebooks/*.html
# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.env